<section id="company" class="company bg-light">
  <div class="container">
    <div class="row">
      <div class="main_company roomy-100 text-center">
        <h3 class="text-uppercase">DEVNPS Team.</h3>
        <p>서울특별시 구로구 디지털로 306, 대륭포스트타워 2차, 206호</p>
        <p>010-9771-8915  -  dev-truly@naver.com</p>
      </div>
    </div>
  </div>
</section>


<!-- scroll up-->
<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div><!-- End off scroll up -->


<footer id="footer" class="footer bg-mega">
  <div class="container">
    <div class="row">
      <div class="main_footer p-top-40 p-bottom-30">
        <div class="col-md-6 text-left sm-text-center">
          <p class="wow fadeInRight" data-wow-duration="1s">
            Made with
            <i class="fa fa-heart"></i>
            by
            <a target="_blank" href="http://bootstrapthemes.co">DevNps Team</a>
            2022. All Rights Reserved
          </p>
        </div>
        <!--<div class="col-md-6 text-right sm-text-center sm-m-top-20">
          <ul class="list-inline">
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Pinterest</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </div>
</footer>